.navigation ul {
  display: flex;
}

.navigation ul li {
  padding: 0 15px;
}

.navigation ul li a {
  font-size: 1.5rem;
  font-weight: 600;
}

.navigation ul li a:hover {
  color: #e72f1d;
}

.navigation ul li .active-links.active {
  color: #e72f1d;
}

@media screen and (max-width: 1024px) {
  .navigation {
    display: none;
  }
}
